.pagination {
    a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 0 4px;
    }
  
    .page-numbers {
      padding: 3px 10px;
      font-size: 16px;
      font-weight: bold;
    }
  
    .current {
      color: #000;
      background-color: #4CAF50;
    }
  
    a:hover:not(.active) {
      background-color: #ddd;
    }
  }

  li.menu-item a {
    color:#fff;
    }
  
  li.menu-item a:hover {
    color:#ffffff;
    } 
    
