.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination .page-numbers {
  padding: 3px 10px;
  font-size: 16px;
  font-weight: bold;
}

.pagination .current {
  color: #000;
  background-color: #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

li.menu-item a {
  color: #fff;
}

li.menu-item a:hover {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */